
html{ font-size: 100%; overflow-x: hidden; width: 100%; margin: 0px;  padding: 0px; touch-action: manipulation; }


body{ font-size: 14px; font-family: 'Encode Sans Expanded', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; 
	overflow-x: hidden; color: #333; min-height: 500px;}

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, input, button{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

h1,h2,h3{ font-family: 'Encode Sans Expanded', sans-serif; }

p{ line-height: 1.7; font-size: 1.05em; font-weight: 400; color: #555; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2em; line-height: 1.1; }
h3{ font-size: 1.7em; }
h4{ font-size: 1.3em; }
h5{ font-size: 1.1em; }
h6{ font-size: .85em; }

.hvr-sweep-to-top {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .hvr-sweep-to-top:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(124, 91, 0, 0.486);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
	color: white;
  }
  .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
  }

.yellow {
	color: #F9B500;
}

.autosuggest {
	position: absolute;
	background: #f7f5f8;
	max-height: 400px;
    bottom: -400px;
    padding: 10px 30px;
	z-index: 2;
	overflow: auto;
}
.autosuggest.hidden, .center.hidden {
	visibility: hidden;
}

.autosuggest-item, .autosuggest-item-noclick {
	line-height: 40px;
}

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(249,181,0, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: #ffdc82;
}
#cbx:checked + .toggle span {
  background: #F9B500;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(249,181,0, 0.2);
}
#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.center {
  width: 230px;
    display: flex;
    justify-content: space-between;
}

.center-number {
	width: 180px;
    display: flex;
	justify-content: space-between;
	margin-left: 25px;
}

.center-number input {
	height: 21px;
    width: 50px;
}

.settings {
	display: flex;
    justify-content: flex-end;
}

.container {
	margin-bottom: 20px;
	margin-top: 20px;
}


a, button{ display: inline-block; text-decoration: none; color: inherit; line-height: 1.3; 
	-webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover,
.main-menu li:hover, .autosuggest-item:hover { text-decoration: none; color: #F9B500; cursor: pointer;}

b{ font-weight: 700; }

img{ width: 100%; }

li{ list-style: none; display: inline-block; line-height: 1.6; font-size: .9em; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }

b.max-bold{ font-weight: 700; }

input:focus,
textarea:focus{ outline-color: #F9B500; }

::placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }
::-ms-input-placeholder { color: #ccc; }


/* RESPONSIVE */

@media only screen and (max-width: 767px) {
	
	p{ line-height: 1.4; }

	h1{ font-size: 3.8em; }
	h2{ font-size: 2em; }
	h3{ font-size: 1.6em; }
	h4{ font-size: 1.3em; }
	
}

@media only screen and (max-width: 575px) {

	body{ font-size: 14px; }
	
}



/* ---------------------------------
3. HEADER
--------------------------------- */

header{ position: relative; text-align: center; z-index: 1000; font-weight: 600; }

header i{ font-size: 1.1em; }


/* BOTTOM HEADER */

header:after{ content:''; clear: both; }

header .logo{ float: left; height: 24px; margin: 28px 0; }

header .logo b{ font-size: 20px;}


header .main-menu{ float: right; }

header ul.main-menu > li{line-height: 80px; padding: 0px 15px; }


/* SEARCH AREA */

header .right-area{ float: right; height: 100%; line-height: 70px; margin-left: 15px; padding: 5px; }

header .src-icn,
header .close-icn{ display: none; }

header .src-icn.active,
header .close-icn.active{ display: block; }

header .src-form{ position: absolute; top: 0px; bottom: 0px; left: 15px; right: 45px; z-index: 1; 
	max-width: 0; overflow: hidden; -webkit-transition: all .2s; transition: all .2s; }

header .src-form.active{ max-width: 3000px;  }


header .src-form form{ height: 100%; }

header .src-form input{ display: block; width: 100%; height: 100%; padding: 0 15px 0 75px; font-size: 1.4em; border: 0px solid #ccc; 
	background: #f7f5f8; outline: 0; -webkit-transition: all .0s; transition: all .0s; }

header .src-form input:focus{ background: #f1f2f1; }

header .src-form button{ position: absolute; top: 0; bottom: 0; left: 0; width: 60px; background: #eee; }




/* HAMBURGER ICON */

header .menu-nav-icon{ display: inline-block; font-size: 30px; line-height: 60px; display: none; cursor: pointer; }

	
/* DROPDOWN MENU STYLING */

header .main-menu li.drop-down{ position: relative; text-align: left; }

header .main-menu li.drop-down > ul.drop-down-menu{ display: none; position: absolute; top: 60px; 
	left: 0; min-width: 180px; box-shadow: 0px 3px 10px rgba(0,0,0,.3); background: #fff; }

header .main-menu li.drop-down > ul.drop-down-menu li{ display: block; border-top: 1px solid #ddd; }

header .main-menu li.drop-down > ul.drop-down-menu li > a{ display: block; padding: 17px 20px; }

header .main-menu li i{margin-left: 10px; }


/* DROPDOWN HOVER */

header .main-menu li.drop-down a.mouseover + ul.drop-down-menu{ display: block; 
	animation: full-opacity-anim .2s forwards; }


@keyframes full-opacity-anim{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}



/* RESPONSIVE */

@media only screen and (max-width: 992px) {
	
	header .logo{ height: 16px; margin: 32px 0; }
	
	header ul.main-menu > li > a{ padding: 0 5px; }
}


@media only screen and (max-width: 767px) {
	
	header .logo{ height: 16px; margin: 22px 0; }
	
	header .right-area{ line-height: 50px; }
	
	
	/* MAIN MENU */
	
	header .main-menu{ display: none; position: absolute; top: 60px; left: 0; right: 0; float: none; 
		opacity: 0; z-index: 1; height: auto; text-align: left; background: #fff; }
	
	header .main-menu.visible-menu{ display: block; box-shadow: 0 4px 20px -10px rgba(0,0,0,.4); 
		animation: full-opacity-anim .2s forwards ease; }
	
	@keyframes full-opacity-anim{
		
		100%{ opacity: 1; }
		
	}
	
	header .main-menu > li{ display: block; }
	
	header ul.main-menu > li > a{ display: block; height: auto; line-height: 1; padding: 15px; border-top: 1px solid #eee; }
		
	
	/* HAMBURGER ICON */

	
	header  .menu-nav-icon{ display: block; }
	
	
	/* DROPDOWN  */
	
	header .main-menu li.drop-down > ul.drop-down-menu{ position: static; box-shadow: none; }
	
	header .main-menu li.drop-down > ul.drop-down-menu li{ border-top: 1px solid #eee; }
	header .main-menu li.drop-down > ul.drop-down-inner li:first-child{ border-top: 1px solid #ddd; }
	
	/* DROPDOWN HOVER */
	
	header .main-menu li.drop-down > ul.drop-down-menu li a{ padding-left: 25px; }
	
	header .main-menu li.drop-down > ul.drop-down-inner li a{ padding-left: 35px; }
	
}

@media only screen and (max-width: 575px) {

	header ul.main-menu > li{ padding: 15px; line-height: 20px;}

	.container {
		margin-bottom: 5px;
		margin-top: 5px;
	}
	
	
	/* HAMBURGER ICON */

	.menu-nav-icon{ float: right; }
	
}

@media only screen and (max-width: 359px) {

	header .heading-wrapper{  padding: 30px 20px 20px; }

	header .info .icon{ font-size: 25px; }

	header .info .right-area{ margin-left: 35px; }

}

.dplay-block{ display: block; }

.pos-relative{ position: relative; z-index: 1; }
.abs-blr{ position: absolute; bottom: 0; left: 0; right: 0; z-index: 1; }
.float-left{ float: left!important; }
.float-right{ float: right!important; }
.text-center{ text-align: center; }

.font-12{ font-size: 1.2em; }

@media only screen and (max-width: 767px) {
	.float-sm-none{ float: none!important; }
}

.color-white{ color: #fff; }
.color-green{ color: #36D98A; }
.color-ash{ color: #aaa; }
.color-ccc{ color: #ccc; }
.color-grey{ color: #ccc; }
.color-primary{ color: #F9B500; }
.color-black{ color: #111; }
.color-lite-black{ color: #888; }

.img-bg{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; }

.bg-4{ background: no-repeat center; background-size: cover; }
.bg-grad-layer-6:after{ content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1;
	opacity: .6; background: linear-gradient(to top,  #000 0%,  rgba(0,0,0,.4) 100%); }

@media only screen and (max-width: 767px) {
	.bg-sm-color-7{ background: rgba(0,0,0,.7); }
	
}


section{ padding: 50px 0; }
.h-100{ height: 100%!important; }
.post { height: 200px; width:  33.33%!important;}
.big-post { height: 400px; }

@media only screen and (max-width: 767px) {
	.settings {
    justify-content: space-between;
}
	.post{ width: 100%!important; 
		height: 300px!important; 
	}	
}

.list-li-mr-20 > li{ margin-right: 20px; }
.mb-10{ margin-bottom: 10px!important; }
.mr-5 { margin-right:  5px!important; }
.p-20{ padding: 20px!important; }

.post { 
	padding-right:  5px!important;
	padding-top:  5px!important; 
}

@media only screen and (max-width: 767px) {       
	.post { padding-right:  0px!important; }
	.mb-sm-5 { margin-bottom:  5px!important; }
}


